/*    HOME STYLES
======================*/
#home {
	section {
    padding:4% 10%;

		h2 {
			margin: 0;
			text-align: center;
			padding: $h2-padding;
			letter-spacing: $h2-letterspacing;
			font-weight: $font-normal;
		}
	}




  /*
      SECTION STYLES
  ======================*/
  @import "home/home-hero";
  @import "home/home-intro";
  @import "home/home-services";
  @import "home/home-help";
  @import "home/home-latest-stories";
  @import "home/home-featured";

}
