/*==========================
*    FORMS STYLES
===========================*/

form {
    input {
        padding:15px 20px;
        border-radius: 10px;
        color: $dark-grey;
        min-width: 250px;
        outline: none;
        border: none;

        &::placeholder {
            color: $gray;
        }
    }

    button {
        font-family: "Avenir Next";
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        border:none;
        background: $button-blue;
        padding: 15px 30px;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $dark-blue;
        }
    }
}
