<section class="section section-featured">
  <div class="section__title">
    <h2>Featured Animals</h2>
  </div>
  <div class="section-featured__content padding">
    <div class="listing">
      {{#each featuredAnimals}}
        <div class="item">
          <div class="image" style="background: url('{{image.src}}') no-repeat center center; background-size:cover;"></div>
          <div class="context">
            <h4 class="headline">{{name}}</h4>
            <span class="description">{{description}}</span>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="section-featured__content--button">
      <button class="button" type="button">More Animals</button>
    </div>
  </div>
</section>
