<section id="section-featured">
  <div id="section-featured_wrapper" class="section_wrapper padding">
    <div id="section-featured_text" class="section_text">
      <div class="headline">
        <img src="/images/h2-decoration.jpg" class="banner"/><h2>Latest Stories</h2><img src="/images/h2-decoration.jpg" class="banner"/>
      </div>
    </div>
  </div>
</section>
