<section class="section-hero">
    <div class="section-hero_wrapper">
      <div class="section-hero_image">
        <img src="/images/spaci-hero.jpg" alt="Spaci" />
      </div>
      <div class="section-hero_text section_text">
        <h1 class="headline">Secours et Protection <br/> des Animaux de C&Auml;te d'lvoire</h1>
        <h2 class="subtext"> Tous les animaux ont droit &agrave; une seconde chance</h2>
        <button class="faites-button button" type="button">Faites un don en nature</button>
      </div>
    </div>
</section>
