<section id="section-hero">
    <div id="section-hero__wrapper" class="section__wrapper">
      <div id="section-hero__text" class="section__text">
        <h1>Secours et Protection <br/> des Animaux de C&ouml;te d'lvoire</h1>
        <h2>Tous les animaux ont doit &agrave; une seconde chance</h2>
        <button class="faites-button" type="button">Faites en don en nature</button>
      </div>
    </div>
</section>
