<section id="section-hero">
    <div id="section-hero_wrapper" class="section_wrapper">
      <div id="section-hero_text" class="section_text">
        <h1>Secours et Protection <br/> des Animaux de C&Auml;te d'lvoire</h1>
        <h2>Tous les animaux ont droit &agrave; une seconde chance</h2>
        <button class="faites-button button" type="button">Faites un don en nature</button>
      </div>
    </div>
</section>
