<section id="section-help">
  <div id="section-help_wrapper" class="section_wrapper padding">
    <div id="section-help_text" class="section_text">
      <div class="headline">
        <img src="/images/h2-banner-red.jpg" class="banner"/><h2>Comment Vous Pouvez Aider</h2><img src="/images/h2-banner-red.jpg" class="banner"/>
      </div>
      <div class="one-half">
        <img src="/images/Adoption.png" alt="Protection" width="250" />
        <h2>Faites un don</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <button class="faites-button button" type="button">Cliquez pour en savoir plus</button>
      </div>
      <div class="one-half">
        <img src="/images/Donate.png" alt="Secours" width="250" />
        <h2>Adoptez</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <button class="faites-button button" type="button">Cliquez pour en savoir plus</button>
      </div>
    </div>
  </div>
</section>
