<section class="section section-help">
  <div class="section__title">
    <h2>Comment Vous Pouvez Aider</h2>
  </div>
    <div class="section-help__content">
      <div class="section-help__content--column">
        <img class="image" src="/images/Adoption.png" alt="Protection"/>
        <h2 class="title">Faites un don</h2>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <button class="faites-button button" type="button">Cliquez pour en savoir plus</button>
      </div>
      <div class="section-help__content--column">
        <img class="image" src="/images/Donate.png" alt="Secours"/>
        <h2 class="title">Adoptez</h2>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <button class="faites-button button" type="button">Cliquez pour en savoir plus</button>
      </div>
  </div>
</section>
