<section id="section-intro">
  <div id="section-intro_wrapper" class="section_wrapper padding">
    <h2>Notre Mission</h2>
    <p>Dans un pays où les droits des animaux sont en constante évolution nous tentons de faire le maximum pour le bien être de ces derniers mais également pour la prise de conscience de la population vis-à-vis de la faune qui l'entoure et qui se tarie au fil des années.</p>
  </div>
</section>
