<section class="section-intro">
  <div class="section-intro__wrapper padding">
    <h2>What we do</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <strong>Check out more of what we do.</strong></p>
  </div>
</section>
