<section id="section-stories">
  <div id="section-stories_wrapper" class="section_wrapper padding">
    <div id="section-stories_text" class="section_text">
      <div class="headline">
        <img src="/images/h2-banner-blue.jpg" class="banner"/><h2>Latest Stories</h2><img src="/images/h2-banner-blue.jpg" class="banner"/>
      </div>
      <div class="one-third">
        <h2>Donate</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <a href="#">Learn More</a>
      </div>
      <div class="one-third">
        <h2>Adoption</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
</section>
