<section id="section-services">
  <div id="section-services_wrapper" class="section_wrapper padding">
    <div id="section-services_text" class="section_text">
      <h2>Nos Actions</h2>
      <div class="one-third" style="vertical-align:top;">
        <img src="/images/protection.png" alt="Protection" width="250" />
        <h2>Protection</h2>
        <p>Notre activité s'étend autant aux animaux domestiques que sauvages, nous les soignons et les introduisons dans un nouvel environnement qui leur convient. Pour les animaux domestiques nous les intégrons à des familles qui peuvent en prendre soin et leur apporter l'amour qu'ils méritent.</p>
      </div>
      <div class="one-third" style="vertical-align:top;">
        <img src="/images/secours.jpg" alt="Secours" width="250" />
        <h2>Secours</h2>
        <p>Lorsque des animaux sont en détresse nous agissons au plus vite pour limiter les dégâts. Nous intervenons partout en Côte d'Ivoire grâce à nos membres.</p>
      </div>
      <div class="one-third" style="vertical-align:top;">
        <img src="/images/culture.png" alt="Culture" width="250"/>
        <h2>Éducation</h2>
        <p>Notre rôle est également de sensibiliser la population et notamment les plus jeunes à la faune qui les entoure et qui est indispensable pour notre éco-système et le bon fonctionnement de notre société.</p>
      </div>
    </div>
  </div>
</section>
