<section class="section section-services">
  <h2>Nos Actions</h2>

  <div class="section-services__content">
      <div class="section-services__content--column">
        <img class="image" src="/images/protection.png" alt="Protection"/>
        <h2 class="title">Protection</h2>
        <p class="description">Notre activité s'étend autant aux animaux domestiques que sauvages, nous les soignons et les introduisons dans un nouvel environnement qui leur convient. Pour les animaux domestiques nous les intégrons à des familles qui peuvent en prendre soin et leur apporter l'amour qu'ils méritent.</p>
      </div>
      <div class="section-services__content--column">
        <img class="image" src="/images/secours.jpg" alt="Secours"/>
        <h2 class="title">Secours</h2>
        <p class="description">Lorsque des animaux sont en détresse nous agissons au plus vite pour limiter les dégâts. Nous intervenons partout en Côte d'Ivoire grâce à nos membres.</p>
      </div>
      <div class="section-services__content--column">
        <img class="image" src="/images/culture.png" alt="Culture"/>
        <h2 class="title">Éducation</h2>
        <p class="description">Notre rôle est également de sensibiliser la population et notamment les plus jeunes à la faune qui les entoure et qui est indispensable pour notre éco-système et le bon fonctionnement de notre société.</p>
      </div>
  </div>
</section>
