<div class="footer">
    {{#if user}}
    <li><a href="/keystone/signout">Sign Out</a></li>
    {{else}}
    <li><a href="/keystone/signin">Sign In</a></li>
    {{/if}}
    <p class="copyright">© <script type="text/javascript">document.write (new Date().getFullYear());</script> Secours et Protection des Animaux de C&Auml;te d'lvoire. All rights reserved.</p>
</div>
