// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;


/**
*
* Variables
*
**/

$max-width: 1160px;

/*===================================
=               FONTS               =
===================================*/

$header-font-stack: 'Avenir Next', sans-serif !default;
$body-font-stack: 'Avenir Next', Georgia,Times,'Times New Roman', serif !default;

/*===================================
=              COLORS               =
===================================*/

$body-copy-color: #000000;
$link-color: #000000;
$header-color: #000000;
$black: #04080e;
$white: #ffffff;
$grey: #908e8f;
$lightGray: #f5f4f4;
$darkGray: #565656;
$blue: #498fe2;
$lightBlue: #5aa2e8;
$darkBlue: #2E66A8;
$linkBlue: #3477c8;
$beige: #ffdf90;
$orange: #f6aa44;
$red: #e20707;
$redhover: #c60606;
$bluehover:#1f6ac7;
$orangehover: #db810a;



//Social icons
$facebook: #3b5998;
$twitter: #55acee;
$pinterest: #bd081c;
$instagram: #125688;

/*===================================
=            BREAKPOINTS            =
===================================*/

$bp-mobile-min: 320px;
$bp-mobile-max: 767px;
$bp-tablet-min: 768px;
$bp-tablet-max: 959px;
$bp-desktop-min: 960px;
$bp-desktop-max: 1440px;
