/* SPACI  FONTS
======================*/
@font-face {
	font-family: 'Avenir Next';
	src: local('Avenir Next Pro Regular'), local('AvenirNext'),
		url('../fonts/avenirnext/AvenirNextLTPro-Regular.otf') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Light';
	src: local('Avenir Next Pro Light'), local('AvenirNext-lt'),
		url('../fonts/avenirnext/AvenirNextLTPro-lt.otf') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Bold';
	src: local('Avenir Next Pro Bold'), local('AvenirNext-Bold'),
		url('../fonts/avenirnext/AvenirNextLTPro-Bold.otf') format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Condensed';
	src: local('Avenir Next Pro Condensed'), local('AvenirNext-Condensed'),
		url('../fonts/avenirnext/AvenirNextCondensed-Medium.ttf') format('embedded-truetype');
	font-weight: bold;
	font-style: normal;
}
