/*
*    TYPOGRAPHY
*/

body {
  color: $body-copy-color;
  font: normal 125% / 1.4 $header-color;
  h1, h2 {
      font-family: 'Avenir Next';
      font-weight: bold;
  }
  h3, h4, h5 {
      font-family: 'Avenir Next';
      color: $header-color;
  }

  a {
      color: $link-color;
  }

  p{
      font-size: 17px;
      color:black;
  }

}
