/*
*    TYPOGRAPHY
*/
$h2-padding: 1vh 0 5vh;
$h2-letterspacing: 0.8px;
$font-normal: 400;

body {
  color: $body-copy-color;
  font-family: 'Avenir Next';
  font: normal 125% / 1.4 $header-color;
  h1, h2 {
      font-family: 'Avenir Next';
      font-weight: bold;
  }
  h3, h4, h5 {
      font-family: 'Avenir Next';
      color: $header-color;
  }

  a {
      font-family: 'Avenir Next';
      color: $link-color;
  }

  p{
      font-family: 'Avenir Next';
      font-size: 17px;
      color:black;
  }

}
