/***** latest stories ******/
body{
  #body{
		#section-stories {
      background-color:$lightGray;
			#section-stories_wrapper {
				#section-stories_text {
          .headline{
            text-align: center;

            h2{
              display: inline-block;
              vertical-align: middle;
              padding: 2vw;
            }
            img.banner{
              width: 33%;
              max-width: 100%;
            }
          }
          .one-third{
            max-width: 100%;
            vertical-align: top;
              h2{
                padding: 2vh;
            }

          }
          .section-top{
            background-image: url(http://r.ddmcdn.com/w_830/s_f/o_1/cx_98/cy_0/cw_640/ch_360/APL/uploads/2015/07/cecil-AP463227356214-1000x400.jpg);
            background-size:cover;
            height:255px;

            p{
              background-color:$blue;
              box-shadow: 2px 5px rgba(0, 0, 0, 0.2);
              color:$white;
              padding:12px 15px;
              display:inline-block;
            }

          }
          .section-bottom{
            padding:10px;
            background-color:$white;

            .title{
              font-weight:bold;
              color:#darkGray;
              font-size: 16px;
              padding-bottom: 0px;
              margin-bottom: 1px;
            }
            p{font-size: smaller;}
            p:last-child{
                text-align:right;
                font-size:14px;
                letter-spacing:0.5px;
            }
          }
				}
			}
		}
	}
}
