/***** Hero ******/
.section-hero {
	max-height: 100%;
	padding:4%;

	.section-hero_wrapper {
		position: relative;

		.section-hero_text {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			background: #fff;
			text-align: center;
			padding: 20px 10px;
			width: 60%;

			.headline {
        margin-top:0px;
				font-size: 2.5vw;
				line-height: 3vw;
				letter-spacing: -1px;
				font-weight: bolder;
			}

		   .subtext {
				font-size: 2vw;
				font-weight: 400;
				padding: 5px;
			}

			.faites-button {
				background-color: $orange;
				border: 1px solid $orange;
				display: inline-block;
				color: $white;
				font-size: 2.4vw;
				letter-spacing: -1px;
			}
		}
		//end section-hero__text
	}

	&_image {
		img {
			width: 100%;
		}
	}
	//end section-hero__wrapper
}
