/***** how to help ******/
body{
  #body{
		#section-help {
			#section-help_wrapper {
				#section-help_text {
          .headline{
            text-align: center;

            h2{
              display: inline-block;
              vertical-align: middle;
              padding: 2vw;
            }
            img.banner{
              width: 33%;
              max-width: 100%;
            }
          }
          .one-half{
              h2{
                padding: 2vh;
            }

            button{
              background-color: #e20707;
              border-radius: 6px;
              color:white;
              border: none;
              margin-top:8vh;
              padding: 12px 20px;
              font-size: 18px;
              letter-spacing: 1.5px;
            }
          }
				}
			}
		}
	}
}
