/**** Our Services *****/
#home {
  #section-services{
    background-color:$lightGray;

     #section-services_wrapper{
        text-align: center;

        .one-third{
            h2{ padding:2vh;}

        }
     }
  }
}
