/***** Hero ******/
.section-hero {
	max-height: 100%;
	padding:4%;

	.section-hero_wrapper {
		position: relative;

		.section-hero_text {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			background: $white;
			text-align: center;
			padding: 20px 10px;
			width: 60%;

			.headline {
				font-size: 2vw;
				font-weight: bolder;
				margin-top:0;
			}

		   .subtext {
				font-size: 1.8vw;
				font-weight: 400;
				padding: 5px;
			}

			.faites-button {
				background-color: $orange;
				margin-top:20px;
				color: $white;
				font-size: 1.4vw;
				font-weight:650;

				&:hover {
					background-color: $orangehover;
				}
			}
		}
		//end section-hero__text
	}

	&_image {
		img {
			width: 100%;
		}
	}
	//end section-hero__wrapper
}
