/**** Intro *****/
/*set variable of padding of all pages similar to what we do
padding: 1% 25%;
set color variable to white
*/
#home {
  #section-intro{
    background-color: $lightGray;
    padding-left:25%;
    padding-right:25%,;

    #section-intro_wrapper{
      color:$white;

        p{
            color:$white;
            margin: 0 auto;
            width:100%;
        }
      }//end section-intro__wrapper
  }//end section-intro
}
