/*=======================
      INTRO STYLES
=========================*/
$h2-color: $white;


.section-intro {
	background-color: #908E8F;

  h2 {
    color: $h2-color;
    margin-bottom:10px;
  }
	&__content--copy {
		color: $white;
		margin: 0 auto;
		width: 60%;
	}
}
